body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    margin:2vh;
}

header {
    display: grid;
    text-align: center;
    align-items:baseline;
    padding: 4vw 0;
    background-color: #3498db;
    color: #fff;
    width: 100vw;
    height: min-content;
    font-size: 1.5vw;
}

head h1 {
    
    margin: 0;
    animation: header 1s linear;
}
head h4
{
    animation: header2 1s linear;
}
@keyframes header {
    from {
        opacity: 0;
        transform: translateX(-15vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes header2 {
    from {
        opacity: 0;
        transform: translateX(20vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.subtitle {
    margin-top: 0.5vw;
    color: #ecf0f1;
}

#scrolling-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

#image-container {
    display: flex;
    animation: scrollAnimation 20s linear infinite;
}

.scrolling-image {
    height: 15vh;
    margin: 0 5vh;
}


@keyframes scrollAnimation {
    0% {
        transform: translateX(100%);

    }
    100% {

        transform: translateX(-100%);
    }
}

.contact-info {
    margin-top: 2vw;
}

.contact-info a {
    color: #ecf0f1;
    text-decoration: none;
    margin-right: 1.5vw;
}

section {
    width: calc(50% - 7.5vw);
    margin: 1vw auto;
    background-color: #fff;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
    padding: 2vw;
    opacity: 0;
    transform: translateY(2vw);
    transition: opacity 0.5s, transform 0.5s;
}

.scroll {
    display: grid;
    width: 100%;
    padding: 2vw 0 2vw 0;
}
.TS img{
    max-width: 100 px;
}

.fade-in h2 {
    color: #3498db;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1vw;
}

.job-experience {
    width: 90vw;
}

.job-experience h3 {
    color: #3498db;
    margin-bottom: 0.5vw;
}

.pricing {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
}

.pricing table {
    text-align: start;
    size: x-large;
}

.pricing ul {
    display: flex;
    flex-wrap: wrap;
}

.pricing li {
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.strengths ul {
    columns: 2;
    column-gap: 2.5vw;
}

/* Animation */
.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(2vw);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Query for Mobile */
@media only screen and (max-width: 600px) {

    section {
        width: 90%;
    }
}